<!DOCTYPE html>
<html>
    <head>
        <title>Cars Availables</title>
    </head>
    <body>
        <main>
            <div class="profile">
                <section class="card-container">
                    <div><img class="img-background" src="<%= asset_path('profile/back-profile.jpeg') %>" ></div>
                    <div class="card-img-profile"></div>
                    <div class="card_profile">
                        <h1>John Jejen</h1>
                        <p>Software Developer from Colombia🇨🇴</p>
                    </div>
                    <div class="social">
                        <a href="https://linkedin.com/in/ing-john-carlos-jejen-corredor/" target="_blank"><img src="<%= asset_path('profile/linkedin.png') %>"></a>
                        <a href="https://github.com/johncjejen" target="_blank"><img src="<%= asset_path('profile/github.png') %>"></a>
                    </div>
                    <div></div>
                    <div class="Follow">
                        <p class="languages-exp"><img src="<%= asset_path('profile/ruby.png') %>"></p>
                        <p class="languages-exp"><img src="<%= asset_path('profile/node.png') %>"></p>
                        <p class="languages-exp"><img src="<%= asset_path('profile/nest.svg') %>"></p>
                    </div>
                    <div class="Follow">
                        <p class="languages-exp"><img src="<%= asset_path('profile/mysql.png') %>"></p>
                        <p class="languages-exp"><img src="<%= asset_path('profile/mongodb.png') %>"></p>
                        <p class="languages-exp"><img src="<%= asset_path('profile/postgres.png') %>"></p>
                    </div>
                    <div class="Follow">
                        <p class="languages-exp"><img src="<%= asset_path('profile/html.png') %>"></p>
                        <p class="languages-exp"><img src="<%= asset_path('profile/css.png') %>"></p>
                        <p class="languages-exp"><img src="<%= asset_path('profile/react.png') %>"></p>
                    </div>
                    <a class="buttonprofile" href="cars/index.html">Project Rent a Car</a>
                </section>
            </div>
        </main>
    </body>
</html>